{define editableQuestion}
<div class="editableQuestion alert">
	<div class="question">
		<a href="#" class="x-editable" data-type="text" data-pk="1" data-url="{link ChangeQuestion!}" data-title="Correct question">{$question->getLastVersion()->getText()}</a>
		<a class="ajax pull-right" n:href="ShowDefault!">needitovat</a>
	</div>
	<ul class="answers" style="margin-bottom: 10px;">
		<li class="answer" n:foreach="$question->getLastVersion()->getAnswers() as $answer">
			{if $answer->getIsCorrect()}<strong>{/if}
				<a href="#" class="x-editable" data-type="text" data-pk="{$encodeAnswer($answer)}" data-url="{link ChangeAnswer!}" data-title="Correct question">{$answer->getText()}</a>
				{if $answer->getIsCorrect()}</strong>{/if}
		</li>
		<li class="newAnswer">
			<a href="#" class="x-editable" data-type="text" data-pk="1" data-url="{link NewAnswer!}" data-title="New answer">-- pro přidání odpovědi změňte --</a>
		</li>
	</ul>
	Tagy:&nbsp;
	{foreach $question->getLastVersion()->getTags() as $tag}
		<a href="#" class="x-editable" data-type="text" data-pk="{$tag->getTitle()}" data-url="{link ChangeTag!}" data-title="New answer">{$tag->getTitle()}</a>
		{sep}, {/sep}
	{/foreach}
	, <a href="#" class="x-editable" data-type="text" data-pk="1" data-url="{link NewTag!}" data-title="New tag">-- nový tag --</a>

</div>
{/define}