{snippet question}
	{includeblock $questionBlocksTemplateFile}
	{includeblock $editableQuestionBlocksTemplateFile}
	<div class="question">
		{if $isEditable}
			{include #editableQuestion}
		{else}
			{if $show == 'first'}
				{if count($question->getVersions()) > 0}
					<div class="bg-primary" style="padding: 5px;">
						Otázka byla upravována.
						<a class="ajax" style="color: #fff;" n:href="ShowLast!">Poslední verze zde.</a>
					</div>
				{/if}
				{include #questionFirst}
			{elseif $show == 'last'}
				{if count($question->getVersions()) > 0}
					<div class="bg-primary" style="padding: 5px;">
						Otázka byla upravována.
						<a class="ajax" style="color: #fff;" n:href="ShowFirst!">První verze zde.</a>
					</div>
				{/if}
				{include #questionLast}
			{/if}
		{/if}
	</div>
{/snippet}
