<div class="visualPaginator">
	<ul class="pagination">
		{if $paginator->isFirst()}
			<li class="disabled"><span>«</span></li>
		{else}
			<li><a n:class="$isAjax ? ajax" href="{$changePageLink($paginator->page - 1)}">«</a></li>
		{/if}

		{foreach $steps as $step}
			{if $step == $paginator->page}
				<li class="active"><span>{$step}</span></li>
			{else}
				<li><a n:class="$isAjax ? ajax" href="{$changePageLink($step)}">{$step}</a></li>
			{/if}
			{if $iterator->nextValue > $step + 1}
				<li><span>...</span></li>
			{/if}
		{/foreach}

		{if $paginator->isLast()}
			<li class="disabled"><span>»</span></li>
		{else}
			<li><a n:class="$isAjax ? ajax" href="{$changePageLink($paginator->page + 1)}">»</a></li>
		{/if}
	</ul>
</div>

