.editableQuestion .question a {
	border: 0;
}

.editableQuestion .answer a {
	border: 0;
}

.editableQuestion .newAnswer a {
	border: 0;
	color: red;
}

.editableQuestion .newAnswer a:hover {
	color: purple;
}

.editableQuestion .deletedAnswer a {
	border: 0;
	color: red;
}

.editableQuestion .deletedAnswer a:hover {
	color: purple;
}

.editableQuestion .answer input, .editableQuestion .newAnswer input {
	// @TODO bigger
}

.testQuestion {
	margin-bottom: 20px;
	border-left: 3px solid red;
}

.testQuestion-correctlyAnswered {
	border-left: 3px solid green;	
}

.testQuestion .question {
	padding: 5px;
}

.testQuestion .answer {
	padding: 5px;
}