{define questionFirst}
<div class="alert">
	<div class="text">
		{$question->getFirstVersion()->getText()}
		<a class="ajax pull-right" n:href="ShowEditable!">upravit</a>
	</div>
	<ul class="answers" style="margin-bottom: 10px;">
		<li class="answer" n:foreach="$question->getFirstVersion()->getAnswers() as $answer">
			{if $answer->getIsCorrect()}
				<strong>{$answer->getText()}</strong>
			{else}
				{$answer->getText()}
			{/if}
		</li>
	</ul>
	Tagy:&nbsp;
	{foreach $question->getFirstVersion()->getTags() as $tag}
		{$tag->getTitle()}{sep}, {/sep}
	{/foreach}
</div>
{/define}


{define questionLast}
<div class="alert alert-warning">
	<div class="text">
		{$question->getLastVersion()->getText()}
		<a class="ajax pull-right" n:href="ShowEditable!">upravit</a>
	</div>
	<ul class="answers" style="margin-bottom: 10px;">
		<li class="answer" n:foreach="$question->getLastVersion()->getAnswers() as $answer">
			{if $answer->getIsCorrect()}
				<strong>{$answer->getText()}</strong>
			{else}
				{$answer->getText()}
			{/if}
		</li>
	</ul>
	Tagy:&nbsp;
	{foreach $question->getLastVersion()->getTags() as $tag}
		{$tag->getTitle()}{sep}, {/sep}
	{/foreach}
</div>
{/define}
