<!DOCTYPE html>
<html lang="cs">
	<head>
		<title>{block title}Experior{/block}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{asset 'experior/favicon.ico'}" rel="shortcut icon" />
		{block styles}
		<link rel="stylesheet" href="{asset 'bootstrap/css/bootstrap.min.'.$_theme.'.css'}">
		<link rel="stylesheet" href="{asset 'bootstrap3-editable/css/bootstrap-editable.css'}">
		<link rel="stylesheet" href="{asset 'font-awesome/css/font-awesome.css'}">
		<link rel="stylesheet" href="{asset 'bootstrap-social/bootstrap-social.css'}">
		<link rel="stylesheet" href="{asset 'experior/css/style.css'}">
		{/block}
		{block scripts}
		<script src="{asset 'jquery/jquery-2.1.1.min.js'}"></script>
		<script src="{asset 'bootstrap/js/bootstrap.min.js'}"></script>
		<script src="{asset 'bootstrap3-editable/js/bootstrap-editable.min.js'}"></script>
		<script src="{asset 'nette-ajax/nette.ajax.js'}"></script>
		<script src="{asset 'nette-ajax.x-editable/extension.js'}"></script>
		<script src="{asset 'experior/js/init.js'}"></script>
		{/block}
	</head>
	<body>
		{block navbar}
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Navigace</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" n:href=":Experior:TestProgress:List:default">Experior</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{include navbar-menu}
				</div>
			</div>
		</nav>
		{/block}

		<div class="container">
			{include flashMessages}
		</div>

		{block body}
		{/block}

		<div class="container" style="margin-bottom: 25px;">
			<hr />
			<span class="pull-right">@2014, Experior</span>
		</div>

	</body>
</html>

{define flashMessages}
{foreach $flashes as $flash}
	<div class="alert alert-{$flash->type}">{$flash->message}</div>
{/foreach}
{/define}

{define navbar-menu}
<ul class="nav navbar-nav">
	<li class="dropdown {ifCurrentModule ':Experior:QuestionsImport'}active{/ifCurrentModule}">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Importy <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			{include navbar-menu-item link => ':Experior:QuestionsImport:List:default', text => 'Seznam importů'}
			{include navbar-menu-item link => ':Experior:QuestionsImport:Import:default', text => 'Nový import'}
		</ul>
	</li>
	<li class="dropdown {ifCurrentModule ':Experior:QuestionTag'}active{/ifCurrentModule}">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tagy <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			{include navbar-menu-item link => ':Experior:QuestionTag:List:default', text => 'Seznam tagů'}
		</ul>
	</li>
	<li class="dropdown {ifCurrentModule ':Experior:TestProgress'}active{/ifCurrentModule}">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Testy <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			{include navbar-menu-item link => ':Experior:TestProgress:New:default', text => 'Nový test'}
			{include navbar-menu-item link => ':Experior:TestProgress:List:default', text => 'Seznam testů'}
		</ul>
	</li>
</ul>

<ul class="nav navbar-nav navbar-right">
	{if $user->isLoggedIn()}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$user->getIdentity()->getAlias()} <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a n:href=":Experior:Authentication:Authentication:logout">Odhlásit se</a>
				</li>
			</ul>
		</li>
		<li class="hidden-xs">
			{*
			<img class="pull-right" n:gravatar="$user->getIdentity()->getEmail(), 40" />
			<img class="pull-right" src="http://graph.facebook.com/{$user->getIdentity()->getFacebookId()}/picture" style="height: 40px;" />
			*}</li>
		{else}
		<li>
			<a n:href=":Experior:Authentication:Authentication:login">Přihlásit se</a>
		</li>
	{/if}
</ul>
{/define}

{define navbar-menu-item}
<li{ifCurrent $link} class="active"{/ifCurrent}><a n:href="$link">{$text}</a></li>
{/define}