{define testQuestion}
<div class="alert {if $testQuestion->getIsCorrectlyAnswered()}alert-success{else}alert-warning{/if}">
	<div class="question">
		{$testQuestion->getText()}
		<a class="ajax pull-right" n:href="ShowEditable!">upravit</a>
	</div>
	<ul class="answers">
		<li class="answer" n:foreach="$testQuestion->getAnswers() as $answer">
			{if $testQuestion->hasAnswered($answer)}
				{if $answer->getIsCorrect()}
					<strong class="bg-success">{$answer->getText()}</strong>
				{else}
				<strike class="bg-danger">{$answer->getText()}</strike>
				{/if}
			{else}
				{if $answer->getIsCorrect()}
				<strong class="bg-danger">{$answer->getText()}</strong>
			{else}
				{$answer->getText()}
			{/if}
		{/if}
		</li>
	</ul>
</div>
{/define}