{snippet question}
	{includeblock $questionBlocksTemplateFile}
	{includeblock $editableQuestionBlocksTemplateFile}
	{includeblock $editableTestQuestionBlocksTemplateFile}
	<div class="question">
		{if $isEditable}
			{include #editableQuestion}
		{else}			
			{if $show == 'test'}
				{if !$testQuestion->hasCurrentTextAndAnswers()}
					<div class="bg-primary" style="padding: 5px;">
						Tato otázka již není aktuální. Byla změněna poté, co byl vygenerován váš test.
						<a class="ajax" style="color: #fff;" n:href="ShowLast!">Poslední verze zde.</a>
					</div>
				{/if}

				{include #testQuestion}
			{elseif $show == 'last'}
				<div class="bg-primary" style="padding: 5px;">
					Takto vypadá otázka nyní. V testu byla <a class="ajax" style="color: #fff;" n:href="ShowTest!">starší verze</a>.
				</div>
				{include #questionLast}
			{/if}
		{/if}
	</div>
{/snippet}
