{block body}

<div class="container">
	<h1>Detail importu</h1>

	<div class="bg-primary">
		<div style="line-height: 50px; padding-left: 20px;">
			<strong>{$import->getCreatedBy()->getAlias()}</strong> {$import->getCreatedAt()|date:'Y-m-d H:i'} <img class="pull-right hidden-xs" n:gravatar="$import->getCreatedBy()->getEmail(), 50" />
		</div>
	</div>
	<div class="bg-info">
		<div style="line-height: 50px; padding-left: 20px;">
			<a n:href="StartTest!">Testovat z těchto otázek</a>
		</div>
	</div>

	<h2>Tagy</h2>
	{snippet tags}
		{foreach $tags as $tag}
			{$tag->getTitle()}{sep}, {/sep}
		{/foreach}
		, <a href="#" class="x-editable" data-type="text" data-pk="1" data-url="{link AddTag!}" data-title="New answer">-- nový tag --</a>
	{/snippet}

	<br />

	{snippet questions}
		{foreach $questions as $question}
			{control 'question_'.$question->getId()}
		{/foreach}
		<div class="pull-right">
			{control questionsPaginator}
		</div>
	{/snippet}

</div>