{block body}
<div class="container">	
	<h1>Importovat otázky</h1>
	<div class="alert alert-info">
		Pro importování otázek do systému si stáhněte soubor <a href="{asset 'experior/sample-import.xml'}">XML</a>,
		analogicky k jeho původní podobě upravte jeho obsah a pomocí formuláře níže jej nahrajte zpět na server.
		<br /><br />
		Všimněte si prosím, že tagy netřeba vyplňovat. Kvůli lepší navigaci v otázkách je ovšem doporučeno tak učinit.
	</div>
	{form formImport, class => "form"}
		<ul class="errors" n:if="$form->hasErrors()">
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>
		{input method class => "radio"}
		{input file}
		<br />
		{input submit class => "btn btn-success"}
	{/form}
</div>