{block body}

<div class="container">
	<h1>Importy</h1>
	<ul>
		<li n:foreach="$imports as $import">
			<a n:href="Detail:default id => $import->getId()">{$import->getCreatedBy()->getAlias()}: {$import->getCreatedAt()|date:'Y-m-d H:i'}</a>
		</li>
	</ul>
</div>