{block body}

<div class="container">
	<h1>Detail testu</h1>

	{*cache 'testProgress'.$testProgress->getId()*}
	<div class="bg-primary">
		<div style="line-height: 50px; padding-left: 20px;">
			<strong>{$testProgress->getCreatedBy()->getAlias()}</strong> {$testProgress->getCreatedAt()|date:'Y-m-d H:i'} <img class="pull-right hidden-xs" n:gravatar="$testProgress->getCreatedBy()->getEmail(), 50" />
		</div>
	</div>
	<div class="bg-info">
		<div style="line-height: 50px; padding-left: 20px;">
			{if $testProgress->getSourceType() == 'questionsTags'}
				<a n:href=":Experior:TestProgress:New:newFromTestProgress">Pokračovat v učení otázek</a> |
			{/if}
			<a n:href="StartTest!">Restartovat test</a>
		</div>
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{$testProgress->getScore() * 100|noescape}" aria-valuemin="0" aria-valuemax="100" style="width: {$testProgress->getScore() * 100|noescape}%;">
			{$testProgress->getScore() * 100}%
		</div>
	</div>

	{foreach $testProgress->getTestQuestions() as $testQuestion}
		{control 'testQuestion_'.$testQuestion->getId()}
	{/foreach}
	{*/cache*}
</div>