{block body}

<div class="container">
	<h1>Testy</h1>
	<h2>Nedokončené</h2>
	<ul>
		<li n:foreach="$incompleteTestProgresses as $testProgress">
			<a n:href="SingleQuestion:default id => $testProgress->getId()">{$testProgress->getCreatedAt()|date:'Y-m-d H:i'}</a>
			<br class="visible-xs" />
			<span class="hidden-xs">&nbsp;</span>
			{if $testProgress->getSourceType() == 'questionsImport'}
				(Testováno z <strong>
					<a n:href=":Experior:QuestionsImport:Detail:default, id => $testProgress->getSourceId()">Import:{$testProgress->getSourceId()}</a>
				</strong>)
			{/if}
			{if $testProgress->getSourceType() == 'questionsTags'}
				(Testováno z <strong>
					{foreach $testProgress->getSourceData()['tags'] as $tagTitle}
						<a n:href=":Experior:QuestionTag:Detail:default, title => $tagTitle">#{$tagTitle}</a>
						{sep}, {/sep}
					{/foreach}
				</strong>)
			{/if}
		</li>
	</ul>

	<h2>Dokončené</h2>
	<ul>
		<li n:foreach="$completeTestProgresses as $testProgress">
			<a n:href="Detail:default id => $testProgress->getId()">{$testProgress->getCreatedAt()|date:'Y-m-d H:i'}</a>
			<br class="visible-xs" />
			<span class="hidden-xs">&nbsp;</span>
			{if $testProgress->getSourceType() == 'questionsImport'}
				(Testováno z <strong>
					<a n:href=":Experior:QuestionsImport:Detail:default, id => $testProgress->getSourceId()">Import:{$testProgress->getSourceId()}</a>
				</strong>)
			{/if}
			{if $testProgress->getSourceType() == 'questionsTags'}
				(Testováno z <strong>
					{foreach $testProgress->getSourceData()['tags'] as $tagTitle}
						<a n:href=":Experior:QuestionTag:Detail:default, title => $tagTitle">#{$tagTitle}</a>
						{sep}, {/sep}
					{/foreach}
				</strong>)
			{/if}
			&nbsp;
			(Úspěšnost: {$testProgress->getScore()*100}%)
		</li>
	</ul>
</div>