{block body}

<div class="container">
	<h1>Sestavit test</h1>
	{form choiceForm class => 'form'}
		<div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
			{$error}
		</div>
		{input number placeholder => 'Počet otázek', class => 'form-control'}

		<div class="form-group">
			<h2>Tagy</h2>
			{foreach $tags as $tag}
				<div class="checkbox">
					<label>
						<input type="checkbox" name="tags[]" value="{$tag->getTitle()}" />
						{$tag->getTitle()}
					</label>
				</div>
			{/foreach}
		</div>

		{input run value => 'Spustit test', class => 'btn btn-success'}
	{/form}
</div>