{block body}

<div class="container">
	<div class="bg-primary" style="padding: 10px;">
		Otázka: {$questionsBehindCount + 1}/{$questionsBehindCount + $questionsAheadCount}, 
		Test ID: {$testProgress->getId()} <span class="pull-right">{$testProgress->getCreatedAt()|date:'Y-m-d H:i'}</span>
	</div>
	{snippet currentQuestion}
		<h1>{$currentTestQuestion->getText()}</h1>
		{form questionForm class => 'form ajaxs'}
			<div class="form-group">
				<div class="checkbox" n:foreach="$currentTestQuestionsAnswersRevisions as $answer">
					<label>
						<input type="checkbox" name="answers[]" value="{$encodeAnswer($answer)}" />
						{$answer->getText()}
					</label>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="testQuestionId" value="{$currentTestQuestion->getId()}" />
				{input send class => 'btn btn-success'}
			</div>
		{/form}
	{/snippet}
</div>