{block #body}
<div class="container">
	<ol class="breadcrumb">
		<li><a n:href="List:default">Seznam tagů</a></li>
		<li class="active">{$tag->getTitle()}</li>
	</ol>
	<h1>{$tag->getTitle()}</h1>
	<div class="bg-primary" style="padding: 10px">
		{$questions->getTotalCount()} otázek
	</div>
	<div class="bg-info" style="padding: 10px">
		<a n:href="StartTest!">Testovat tyto otázky</a>
	</div>
	<br />
	{snippet questions}
		{foreach $questions as $question}
			{control 'question_'.$question->getId()}
		{/foreach}
		<div class="pull-right">
			{control questionsPaginator}
		</div>
	{/snippet}
</div>