{block #body}
<div class="container">
	<h1>Tagy</h1>
	{foreach $alphabetArray as $letter => $tags}
		<h2># {$letter}</h2>
		<ul n:foreach="$tags as $tagItem">
			<li>
				{var $tag = $tagItem['tag']}
				<a n:href="Detail:default webalize => $tag->getWebalize()">{$tag->getTitle()}</a>
				({$tagItem['questionsCount']} otázek)
			</li>
		</ul>
	{/foreach}
</div>